@font-face {
  font-family: "NextRustExtras";
  src: url("https://raw.githubusercontent.com/nirgeier/labs-assets/refs/heads/main/assets/fonts/NextRustExtras-Free.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}
